body{
    background: gainsboro;
}

#stuff{
    text-align: center;
    margin: auto;
}

.g-signin2{
    padding-top: 20px;
    margin-left: 43vw;
}

h1{
    text-align: center;
}

h4{
    text-align: center;
}

img{
    text-align: center;
    height: 300px;
}